<!-- тег span используется для добавления нужных стилей отдельным участкам текста --> 
<!-- <p>© 2022 Copyright <span style="color:red">Ya</span>tube</p>    -->

<footer class="border-top text-center py-3">
    <p>© {% now 'Y' %} Copyright <span style="color:red">Ya</span>tube</p>    
  </footer> 
      
<!-- можно удалить, тестировалась для письма -->      
 <a
    href = "https://www.worldwide.com/">
    <img src = "https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/toeyr1jsbavbutxwp1cn" width="111" height="72">
</a>
